# Ignore build output directories
/bin/
/obj/
/AlkalineGTK.AppDir/
/appimagetool*

# Ignore all files and subdirectories in bin, obj, AlkalineGTK.AppDir, and appimagetool
bin/**/*
obj/**/*
AlkalineGTK.AppDir/**/*
appimagetool*

# Ignore user-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Ignore Visual Studio files
.vs/
*.vspscc
*.vssscc

# Ignore build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Ignore NuGet packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/

# Ignore other common files
*.log
*.tmp
*.temp
.DS_Store
Thumbs.db